* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #455a64;
  font-family: Arial; }

#app {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px; }

.title a {
  color: #ff8f00;
  font-size: 22px;
  font-family: monospace;
  text-decoration: none; }
  .title a:hover {
    color: #ffe082; }

.grid {
  display: block; }
  .grid .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .grid .row .cell {
      position: relative;
      display: block;
      width: 12px;
      height: 12px;
      margin: 1px;
      cursor: pointer; }
      .grid .row .cell.dead {
        background-color: #37474f; }
      .grid .row .cell.live {
        background-color: #ff8f00; }
      .grid .row .cell.new {
        background-color: #ffe082; }

.controls {
  padding: 10px; }

.blueprint, .graph {
  background-color: #37474f;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; }

.graph {
  margin: 10px auto;
  width: 100%;
  min-width: 200px;
  height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.45); }

.max {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #fff;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.bars {
  width: 100%;
  max-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.bar {
  position: relative;
  width: 1%;
  background-color: #37474f;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }
  .bar.mark:before {
    content: attr(data-mark);
    height: 100px;
    border-left: 1px solid #fff;
    display: block;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: x-small;
    font-family: monospace; }
  .bar .val {
    width: 100%; }
    .bar .val:first-child {
      background-color: #ffe082; }
    .bar .val:last-child {
      background-color: #ff8f00; }

.info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-bottom: 10px; }
  .info .info-box {
    padding: 4px 8px;
    font-size: small;
    font-family: monospace; }
    .info .info-box.total:before {
      content: "total cells:"; }
    .info .info-box.alive:before {
      content: "alive cells:"; }
    .info .info-box.newborn:before {
      content: "new-born cells:"; }
    .info .info-box.gen:before {
      content: "generation:"; }

.switch {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .switch .knob {
    position: relative;
    width: 50px;
    height: 22px;
    border-radius: 100px;
    background-color: #fff; }
    .switch .knob:before {
      content: "";
      display: block;
      position: absolute;
      left: 29px;
      top: 1px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #455a64;
      transition: left 250ms ease; }
  .switch label {
    display: block;
    padding: 1px 4px;
    transition: color 250ms ease;
    cursor: pointer; }
  .switch input[type=checkbox] {
    display: none; }
    .switch input[type=checkbox] ~ .on-label {
      color: #90a7b2; }
    .switch input[type=checkbox] ~ .off-label {
      color: #fff; }
    .switch input[type=checkbox]:checked ~ .on-label {
      color: #fff; }
    .switch input[type=checkbox]:checked ~ .off-label {
      color: #90a7b2; }
    .switch input[type=checkbox]:checked ~ .knob:before {
      left: 1px; }

.reset {
  background-color: #fff;
  color: #455a64;
  padding: 3px 8px;
  display: inline-block;
  float: right;
  border-radius: 50px;
  cursor: pointer; }
  .reset:hover {
    color: #fff;
    background-color: #37474f; }
